@mixin full-backgroundsize-cover {
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}

@mixin full-backgroundsize ($value) {
    -moz-background-size: $value;
    -o-background-size: $value;
    -webkit-background-size: $value;
    background-size: $value;
}

@mixin clearfix {
    content: "";
    display: table;
    clear: both; 
}

@mixin center($type: 'both') {

    display: flex;
    @if $type == 'horizontal' {
        justify-content: center;
    } @else if $type == 'vertical' {
        align-items: center;
    } @else if $type == 'both' {
        justify-content: center;
        align-items: center;
    }
    
}